<a href="https://colab.research.google.com/github/NINGTANG1124/UPF-HFI/blob/main/notebooks/NOVA_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# connect googledrive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
# Read intake data (including Descriptionen and FoodGroupen)
import pandas as pd
import re

file_path = "/content/drive/MyDrive/UPF-HFI/Bradford_original data/1. Dietmasterfile_foodlevel_clean.xls"
intake_df = pd.read_excel(file_path)

# Define text cleaning function
def clean_text(col):
    return col.astype(str).str.lower().str.strip().str.replace(r"\s+", " ", regex=True)

# Apply to key fields
intake_df["Foodgroupen_clean"] = clean_text(intake_df["Foodgroupen"])
intake_df["Descriptionen_clean"] = clean_text(intake_df["Descriptionen"])

# 添加 Subgroupcode 的清洗列
intake_df["Subgroupcode_clean"] = clean_text(intake_df["Subgroupcode"])

# 匹配已有NOVA1-6部分的foodgroup

In [3]:
# 设置 att3 文件路径
att3_path = "/content/drive/MyDrive/UPF-HFI/nova matching files/att3-excel.xlsx"

# 读取 att3 文件
att3 = pd.read_excel(att3_path)

# 清洗 group code（假设列名为 'Subsidiary food group code'）
att3['code_clean'] = att3['Subsidiary food group code'].astype(str).str.upper().str.strip()

# 创建字典（包括 *）
group_to_nova = dict(zip(att3['code_clean'], att3['NOVA food group']))

# 清洗 intake 数据的 Subgroupcode 列
intake_df['Subgroupcode_clean'] = intake_df['Subgroupcode'].astype(str).str.upper().str.strip()

In [4]:
# Step 1: 映射 group code 到 NOVA_step1
intake_df['NOVA_step1'] = intake_df['Subgroupcode_clean'].map(group_to_nova)

# Step 2: 添加匹配说明列（仅记录成功匹配的）
intake_df['match_reason_step1'] = intake_df['NOVA_step1'].apply(
    lambda x: 'group code match' if str(x).isdigit() else None
)

# 哪些行已经匹配成功？多少还没有？
# 匹配情况预览
intake_df['NOVA_step1'].value_counts(dropna=False)

NOVA_step1
4      8626
*      7643
1      4360
3       483
**      414
NaN     356
2       335
Name: count, dtype: int64

In [5]:
# 只保留关键列导出检查文件--方便人工处理
cols_to_export = [
    'Descriptionen', 'Foodgroupen',
    'Subgroupcode', 'Subgroupcode_clean',
    'NOVA_step1', 'match_reason_step1'
]

check_df = intake_df[cols_to_export].copy()
check_df.to_excel("/content/drive/MyDrive/UPF-HFI/NOVA classification/outcome/step1.xlsx", index=False)

# Step2:人工处理
处理逻辑：根据Dicken规则文档手动处理-Lisa检验-同意通过

In [6]:
# 读取step2 表格
step2_path = "/content/drive/MyDrive/UPF-HFI/NOVA classification/outcome/step2.xlsx"
step2_df = pd.read_excel(step2_path)

In [7]:
# 创建字典，从 step2_df 中提取 Descriptionen -> NOVA_step2 映射关系
desc_to_nova2 = step2_df.set_index("Descriptionen")["NOVA_step2"].to_dict()
desc_to_reason2 = step2_df.set_index("Descriptionen")["match_reason_step2"].to_dict()

# 在 intake_df 中直接映射填入
intake_df["NOVA_step2"] = intake_df["Descriptionen"].map(desc_to_nova2)
intake_df["match_reason_step2"] = intake_df["Descriptionen"].map(desc_to_reason2)

In [8]:
# 做一个干净的intake24数据集-包含NOVA
intake_df['NOVA'] = intake_df['NOVA_step2'].combine_first(intake_df['NOVA_step1'])

# 检查

In [9]:
intake_df['NOVA'].value_counts(dropna=False)

NOVA
4     10660
1      9186
3       997
2       960
NC      414
Name: count, dtype: int64

In [25]:
# 将 NOVA 列追加到 intake_df 后，导出整个 intake 表格
intake_df.to_excel(
    "/content/drive/MyDrive/UPF-HFI/NOVA classification/outcome/intake24_with_nova.xlsx",
    index=False
)